<h1>Meal Delivery System</h1>

<%= link_to 'View Employee', employees_path %>
<br>
<%= link_to 'View Restaurants', restaurants_path %>
<br>
<%= link_to 'Create Random Lunch', random_lunch_path %>
<br>
<%= link_to 'Create Paid Lunch', paid_lunch_path %>
